---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Nav from '../components/nav.astro';
import Footer from '../components/footer.astro';
import Sidebar from '../components/sidebar.astro';
---

<Layout title="Leafing Around - Home">
	<Header />
	<Nav />
	<h1>HOME</h1>
	<Footer />
</Layout>
