---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Nav from '../components/nav.astro';
import Footer from '../components/footer.astro';
import GridPeces from '../components/gridPeces.svelte';
import MensajeError from '../components/mensajeError.astro';

import { getPeces,ordenarCriaturas } from '../lib/funciones.js';

let error = null;

const pecesAPI = await getPeces();
const peces = ordenarCriaturas(pecesAPI);
---

<Layout title="Leafing Around - Peces">
  <Header />
  <Nav />

  <main>
    {error ? (
      <MensajeError error={error} />
    ) : (
      <GridPeces client:load peces={peces} />
    )}
  </main>

  <Footer />
</Layout>
