---

---
<div class="footer">
    <a href="/avisoLegal"><h2>Aviso Legal</h2></a>
</div>


<style>
    .footer{
        background-color: #3F3630;
    }

    h2{
        margin: 0.5rem;
        color: white;
        text-align: center;
    }
</style>