---

---    
<div class="nav">
    <nav class="header-nav">
        <ul>
            <li><a href="/peces">Peces</a></li>
            <li><a href="/criaturasMarinas">Criaturas Marinas</a></li>
            <li><a href="/insectos">Insectos</a></li>
        </ul>
    </nav>
</div>


<style>
    .nav{
        background:#C49A6C;
        position:relative;
        padding:.2rem 0;
        border-top:4px solid #8B633E;
    }

    .nav::before{
        content:"";
        position:absolute;
        left:0;
        right:0;
        top:0;
        height:8px;

        background:
        linear-gradient(
            to bottom,
            #8B633E 0%,
            #9A724B 100%
        );
    }

    .header-nav ul {
        display: flex;
        gap: 2rem;
        justify-content: center;
        flex-wrap: wrap;
    }

    .header-nav a {
        display: inline-block;
        text-decoration: none;
        color: #2E2A27;
        font-family: "Fredoka", sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
        transition: transform 0.3s ease-in-out;
        margin: 0.5rem;
    }

    .header-nav a:hover {
        transform: scale(1.1);
    }
</style>