---

---    
<div class="nav">
    <nav class="header-nav">
        <ul>
            <li><a href="/peces">Peces</a></li>
            <li><a href="/criaturasMarinas">Criaturas Marinas</a></li>
            <li><a href="/insectos">Insectos</a></li>
        </ul>
    </nav>
</div>


<style>
    .nav {
        background-color: #E8DDCF;
    }

    .header-nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 4rem;
        justify-content: center;
    }

    .header-nav a {
        display: inline-block;
        text-decoration: none;
        color: #2E2A27;
        font-family: "Fredoka", sans-serif;
        font-weight: 500;
        font-size: 1.1rem;
        transition: transform 0.3s ease-in-out;
        margin: 0.5rem;
    }

    .header-nav a:hover {
        transform: scale(1.1);
    }
</style>