---
import { ClientRouter } from 'astro:transitions';
import "@/styles/starwind.css";
const {title} = Astro.props;
import fondo from "../assets/fondo-web-papel.png";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<ClientRouter />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />

		<!-- Tipografías -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fredoka&family=Nunito&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html,
	body {
		height: 100vh;
	}

	body {
		display: grid;
		grid-template-rows: 10rem auto 1fr auto;
		background-image: url("/src/assets/fondo-web-papel.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
  		position: relative;
	}

	::view-transition-old(root),
	::view-transition-new(root) {
	animation-duration: 0.15s;
	}
</style>
